$font-stack: Helvetica, sans-serif;
$primary-color: blue;
$secondary-color: rgb(187, 210, 228);


.app {
    background-color: $secondary-color;
    text-align: center;
    border: solid 5px $secondary-color;
    border-radius: 50px;
    align-self: center;
}

.app-title {
    color: $primary-color;
    font-size: large;
    font-weight: bold;
}

form {
    text-align: center;
}
ul {
    .list-group-item {
    border-radius: 50px;
    background-color: rgb(160, 245, 238);
    }
    .last-item {
        margin-bottom: 40px;
    }
}
